In [2]:
import pandas as pd

In [3]:
car = pd.read_csv('dataset.csv')
car.head()

,model,location,year,price,mileage,engine_type,transmission,engine_capacity
0,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Islamabad Islamabad,2007.0,PKR 16.5 lacs,"100,000 km",Petrol,Automatic,1800 cc
1,Suzuki Mehran VX Euro II 2012,"Eden Gardens, Faisalabad Punjab",2012.0,PKR 7 lacs,"100,000 km",Petrol,Manual,800 cc
2,Honda Civic EX 1995,"Bostan Road, Rawalpindi Punjab",1995.0,PKR 7.6 lacs,999 km,Petrol,Manual,1500 cc
3,Toyota Fortuner 2.7 VVTi 2013,"Kallar Kahar Road, Chakwal Punjab",2013.0,PKR 70 lacs,"94,000 km",Petrol,Automatic,2700 cc
4,Suzuki Mehran VX Euro II 2015,Muzaffar Gargh Punjab,2015.0,PKR 8 lacs,"86,000 km",Petrol,Manual,796 cc

In [172]:
car['location'] = car['location'].str.replace(r',','')
car['location'].astype(str)
car['location'].unique()

array([' Islamabad Islamabad', ' Eden Gardens Faisalabad Punjab',
       ' Bostan Road Rawalpindi Punjab', ...,
       ' Faqeer Mohammad Road Quetta Balochistan',
       ' Hazara Double Road Quetta Balochistan',
       ' Sunderdas Road Lahore Punjab'], dtype=object)

In [173]:
car = car[~car['year'].isna()]
car['year'] = car['year'].astype(int)
car['year'].unique()

array([2007, 2012, 1995, 2013, 2015, 2011, 2018, 2020, 2006, 2016, 2014,
       2022, 1994, 2008, 2004, 2017, 2005, 2021, 2019, 1999, 2003, 2000,
       2009, 1998, 2001, 2010, 2002, 1993, 1997, 1996, 1991, 1992, 1990])

In [174]:
car['mileage'] = car['mileage'].str.split(' ').str.get(0)
car['mileage'] = car['mileage'].str.replace(r',','')
car['mileage'] = car['mileage'].astype(int)

In [175]:
car = car.drop('engine_capacity',axis=1)
car = car.reset_index(drop=True)

In [176]:
car['price'] = car['price'].str.split(' ').str.get(1)

In [177]:
car = car[car['price'].str.isnumeric()]

In [178]:
new_list = [int(str(num) + '00000') for num in car['price']]

In [179]:
car['price'] = new_list
car['price'].unique()

array([  700000,  7000000,   800000,  1300000,  3600000,  3200000,
        4200000,  2400000,  3300000,  3700000,  1900000,  3500000,
        3400000,  1600000,  9800000,  2000000,  1800000,  2300000,
         300000,  1700000,  2700000,  4700000,  3800000,  1200000,
         900000,  2500000,  5800000,  7400000,  4100000,  1000000,
        3000000,  5000000,  8000000,  4000000,   600000,  2800000,
        5300000,  2200000,  7200000,  8800000,  8300000,  4500000,
        9200000,  1500000,  9000000,  2600000,  4600000,  7100000,
        6500000,  1400000,  6000000,  4800000,  5600000,  7600000,
        2100000,   500000,  5500000,  9500000,  1100000,  7700000,
        5700000,  7800000,  3100000,   400000,  5200000,  2900000,
        4400000,  4300000,  6100000,  6800000,  9400000,  3900000,
        8500000,  5100000,  6600000,  6700000,  4900000,  5900000,
        7900000,  9300000,  8700000,  6300000,  9700000,  7500000,
        9600000,   100000,  5400000,  8200000,  6400000,  8900000,
        8100000,  6200000,  7300000,  6900000,   200000,  9100000,
        8600000,  8400000,  9900000, 10000000], dtype=int64)

In [180]:
car['price'].unique()

array([  700000,  7000000,   800000,  1300000,  3600000,  3200000,
        4200000,  2400000,  3300000,  3700000,  1900000,  3500000,
        3400000,  1600000,  9800000,  2000000,  1800000,  2300000,
         300000,  1700000,  2700000,  4700000,  3800000,  1200000,
         900000,  2500000,  5800000,  7400000,  4100000,  1000000,
        3000000,  5000000,  8000000,  4000000,   600000,  2800000,
        5300000,  2200000,  7200000,  8800000,  8300000,  4500000,
        9200000,  1500000,  9000000,  2600000,  4600000,  7100000,
        6500000,  1400000,  6000000,  4800000,  5600000,  7600000,
        2100000,   500000,  5500000,  9500000,  1100000,  7700000,
        5700000,  7800000,  3100000,   400000,  5200000,  2900000,
        4400000,  4300000,  6100000,  6800000,  9400000,  3900000,
        8500000,  5100000,  6600000,  6700000,  4900000,  5900000,
        7900000,  9300000,  8700000,  6300000,  9700000,  7500000,
        9600000,   100000,  5400000,  8200000,  6400000,  8900000,
        8100000,  6200000,  7300000,  6900000,   200000,  9100000,
        8600000,  8400000,  9900000, 10000000], dtype=int64)

In [181]:
car['model'] = car['model'].str.split(' ').str.slice(0,3).str.join(' ')

In [182]:
car.reset_index(drop=True)

,model,location,year,price,mileage,engine_type,transmission
0,Suzuki Mehran VX,Eden Gardens Faisalabad Punjab,2012,700000,100000,Petrol,Manual
1,Toyota Fortuner 2.7,Kallar Kahar Road Chakwal Punjab,2013,7000000,94000,Petrol,Automatic
2,Suzuki Mehran VX,Muzaffar Gargh Punjab,2015,800000,86000,Petrol,Manual
3,Suzuki MR Wagon,Rafi Qamar Road Bahawalpur Punjab,2011,1300000,97000,Petrol,Automatic
4,Honda BR-V i-VTEC,Marala Road Sialkot Punjab,2018,3600000,56000,Petrol,Automatic
...,...,...,...,...,...,...,...
17897,Toyota Aqua S,Gulistan-e-Jauhar Karachi Sindh,2017,4500000,58000,Hybrid,Automatic
17898,Toyota Prado TX,DHA Defence Lahore Punjab,2007,7500000,150000,Petrol,Automatic
17899,Suzuki Swift DLX,Islamabad Islamabad,2018,2100000,90000,Petrol,Manual
17900,Suzuki Wagon R,Karachi Sindh,2016,1800000,54000,Petrol,Manual
17901,Suzuki Alto L,7th Avenue Islamabad Islamabad,2017,2400000,39000,Petrol,Automatic

In [183]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17902 entries, 1 to 57982
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         17902 non-null  object
 1   location      17902 non-null  object
 2   year          17902 non-null  int32
 3   price         17902 non-null  int64
 4   mileage       17902 non-null  int32
 5   engine_type   17824 non-null  object
 6   transmission  17902 non-null  object
dtypes: int32(2), int64(1), object(4)
memory usage: 979.0+ KB

In [186]:
car[car['model'].str.isnumeric()]

Empty DataFrame
Columns: [model, location, year, price, mileage, engine_type, transmission]
Index: []

In [187]:
car[car['location'].str.isnumeric()]

Empty DataFrame
Columns: [model, location, year, price, mileage, engine_type, transmission]
Index: []

In [193]:

print(type(car['year']))

<class 'pandas.core.series.Series'>

In [194]:
car[car['price'].str.isnumeric()]

AttributeError: Can only use .str accessor with string values!

## Corrections

#### year is not a number
#### mileage has km at end and a ,
#### model must be short
#### engine capacity has cc at end
#### price is not a number a has PKR and lacs

In [169]:
car = car[~car['engine_type'].isna()]

In [ ]:
car[car['engine_type'].isna()]

In [ ]:
car['model'] = car['model'].str.replace(r'[,-.]','',regex=True)

In [ ]:
car['model'].unique()

In [ ]:
car['location'] = car['location'].str.replace(r'[,-.]','',regex=True)

In [ ]:
car['location'].unique()

In [ ]:
car.reset_index(drop=True)

In [ ]:
car.to_csv('New_Data_FullyCLeaned.csv')